.chess-board {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  margin: auto;
  table-layout: fixed; /* Agregado para fijar el tamaño de las celdas */
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size: 1.2em;
  box-sizing: border-box; /* Asegura que el tamaño incluya el borde */
}

.has-points {
  background-color: #e0f7fa;
  color: #00796b;
}

.multiplier {
  background-color: #ffeb3b;
  font-weight: bold;
}

.white-horse {
  background-color: #fff;
}

.black-horse {
  background-color: #000;
  color: #fff;
}

.horse-image, .multiplier-image {
  width: 16px;
  height: 16px;
}

.chess-board .cell {
  text-align: center;
  vertical-align: middle;
}

