.game-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.board-and-results-row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.board-card {
  flex: 0 0 70%; /* El tablero ocupa el 70% del ancho */
}

.results-container {
  flex: 0 0 30%; /* Las tarjetas de resultados ocupan el 30% del ancho */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.player-card {
  width: 100%; /* Ocupa el ancho completo del contenedor */
}

.settings-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings-card {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.settings-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap; /* Permite que las opciones se ajusten en una sola fila */
}

.settings-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}
