<div class="game-container">
  <!-- Fila 1: Tablero a la izquierda y Resultados a la derecha -->
  <div class="board-and-results-row">
    <!-- Tablero de Juego -->
    <mat-card class="board-card">
      <mat-card-content>
        <app-grid
          [grid]="grid"
          [turno_humano]="turno_humano"
          (celdaClick)="handleCeldaClick($event)">
        </app-grid>

      </mat-card-content>
    </mat-card>

    <!-- Tarjetas de Resultados -->
    <div class="results-container">
      <!-- Tarjeta del Caballo Blanco -->
      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>White Horse</mat-card-title>
          <mat-card-subtitle>Jugador: IA 1</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Puntos acumulados: {{ whiteHorsePoints }}</p>
        </mat-card-content>
      </mat-card>

      <!-- Tarjeta del Caballo Negro -->
      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>Black Horse</mat-card-title>
          <mat-card-subtitle>Jugador: IA 2</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Puntos acumulados: {{ blackHorsePoints }}</p>
        </mat-card-content>
      </mat-card>

      <!-- Tarjeta de resultados del juego -->
      <mat-card class="player-card" *ngIf="!quedan_puntos">
        <mat-card-header>
          <mat-card-title>Juego terminado</mat-card-title>
          <mat-card-subtitle>El ganador ha sido:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- Mostrar solo el caballo con más puntos -->
          <p *ngIf="whiteHorsePoints > blackHorsePoints">Caballo blanco: {{ whiteHorsePoints }}</p>
          <p *ngIf="blackHorsePoints > whiteHorsePoints">Caballo negro: {{ blackHorsePoints }}</p>
          <!-- En caso de empate, mostrar ambos -->
          <p *ngIf="whiteHorsePoints === blackHorsePoints">Empate, puntos: {{ whiteHorsePoints }}</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <div class="settings-row">
    <mat-card class="settings-card">
      <mat-card-content>
        <div class="settings-options">
          <!-- Grupo de dificultad -->
          <mat-radio-group [(ngModel)]="difficultyLevel" class="settings-group" [disabled]="juego_en_curso">
            <mat-radio-button [value]="1">Principiante</mat-radio-button>
            <mat-radio-button [value]="2">Intermedio</mat-radio-button>
            <mat-radio-button [value]="3">Avanzado</mat-radio-button>
          </mat-radio-group>

          <!-- Grupo de modo de juego -->
          <mat-radio-group class="settings-group" [disabled]="juego_en_curso">
            <mat-radio-button value="false" (change)="humanVSmachine = false">IA vs IA</mat-radio-button>
            <mat-radio-button value="true" (change)="humanVSmachine = true">IA vs Humano</mat-radio-button>
          </mat-radio-group>

          <!-- Botones de control -->
          <button mat-raised-button color="primary" (click)="startSimulation()" [disabled]="juego_en_curso">Iniciar</button>
          <button mat-raised-button color="primary" (click)="resetGame()">Reset</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
